<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>
<body>

<h2><%= title %>:    <%= player %></h2>

<script src="/js/d3.min.js"></script>

<script>

var margin = {top: 20, right: 20, bottom: 20, left: 30},
    width = 557 - margin.left - margin.right,
    height = 290 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10, "d");

var svg = d3.select("#graphContent").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var data = [];
<% for(var i = 0; i < stats.length; i++) { %>
    data.push(<%= stats[i] %>);
<% }; %>

  x.domain(data.map(function(d) { return d.yearID; }));
  y.domain([0, d3.max(data, function(d) { return d.HR; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Home Runs");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.yearID); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.HR); })
      .attr("height", function(d) { return height - y(d.HR); });

function type(d) {
  d.HR = +d.HR;
  return d;
}

</script>

</body>

